

services:
  api:
    build:
      context: .
      dockerfile: docker/api.Dockerfile
    env_file:
      - .env
    ports:
      - "8000:8000"
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000
    restart: unless-stopped
    volumes:
      - ./app/repositories/data:/app/app/repositories/data

  frontend:
    build:
      context: ./frontend
      dockerfile: ../docker/frontend.Dockerfile
      args:
        VITE_API_BASE_URL: http://localhost:8000
        VITE_API_PREFIX: /api/v1
    ports:
      - "5173:80"
    depends_on:
      - api
